body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F1A9A0;
}

/*.container {margin-top: 50px;width: 600px;}*/
.container {margin-top: 50px;}

h1, h2, h3, i, a {
  font-family: 'Handlee', cursive;
  color: #2E8B57;
}

a, h2, #social h3 {font-weight: bold;}
p {font-size: 18px;}

#about img {height: 250px;}
#games img {height: 300px;}
img {border:5px solid #F1A9A0;}

.thumbnail {background-color: #fcedec;}
.thumbnail .caption {padding-top: 0;}

#social .row {padding-top: 10px;}
#social i {color: #F1A9A0;font-weight: bold;}
#social i:hover, a:hover {color: #BA55D3;}

#games i{color:#F1A9A0;}

#favs img {margin-top: 15px;}
#favs h2 {margin-top: 25px;}

.mini {height: 150px; border-style: none; margin-top:-15px;}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 5px;
    background-color: #BA55D3;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}