body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F1A9A0;
}

h1, h2, h3 {
  font-family: 'Handlee', cursive;
}

#about img {
	height: 300px;
}
.container {
  margin-top: 50px;
  width: 600px;
}

.thumbnail {
	background-color: #fcedec;
}

.thumbnail .caption {
  padding-top: 0;
}

#social .row {
  padding-top: 10px;
}
	color: #ff1493;
}

